// Variables (si deseas usar variables, por ejemplo, para los colores)
$color-white: white;
$color-grey: rgb(211, 196, 196);
$color-dark-grey: rgb(89, 81, 81);
$color-light-grey: rgb(167, 158, 158);

// Reset global styles
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

// Container
.container {
  max-width: 1200px;
  margin: 0 auto;
}

// Header
.header {
  background-image: url(./img/jay-soundo-sP9pc68QmAw-unsplash.jpg);
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 70vh;
  display: flex;
  align-items: center;
}

.menu-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  color: $color-grey;
  font-size: 25px;
  font-weight: 800;
}

.menu-container .navbar {
  ul {
    li {
      position: relative;
      float: left;
      
      a {
        font-size: 18px;
        padding: 20px;
        color: rgb(237, 227, 227);
        display: block;
        font-weight: 600;

        &:hover {
          color: rgb(185, 119, 20);
        }
      }
    }
  }
}

#menu {
  display: none;
}

// Header content
.header-content {
  text-align: center;

  h1 {
    font-size: 95px;
    line-height: 80px;
    color: $color-white;
    text-transform: uppercase;
  }

  p {
    font-size: 25px;
    color: $color-light-grey;
    padding: 16px;
    margin-bottom: 25px;
  }
}

.btn-0 {
  display: inline-block;
  padding: 10px 35px;
  background-color: rgb(226, 202, 202);
  color: rgb(100, 89, 89);
  text-transform: uppercase;
  border-radius: 12px;
}

// Model Section
.model {
  padding: 100px 0;
  background-color: $color-dark-grey;
  position: relative;

  .model-content {
    text-align: center;

    h2 {
      font-size: 55px;
      line-height: 70px;
      color: rgb(212, 205, 205);
      text-transform: uppercase;
      padding: 0 250px;
      margin-bottom: 15px;
    }

    .txt-p {
      font-size: 16px;
      color: rgb(195, 187, 187);
      padding: 0 250px;
      margin-bottom: 35px;
    }

    .model-group {
      display: flex;
      justify-content: space-between;
      margin-bottom: 50px;

      .model-1 {
        padding: 0 25px;

        img {
          width: 200px;
          height: 266px;
          border-radius: 36px;
          filter: grayscale(1);
          &:hover{
            filter: none;
          }
        }

        h3 {
          color: rgb(186, 184, 181);
          font-size: 20px;
          margin-bottom: 15px;

          &:hover {
            color: black;
          }
        }

        p {
          color: rgb(198, 188, 188);
        }
      }
    }
  }
}

// Servicios Section
.servicios {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(118, 113, 113, 0.7)), url(./img/duong-ngan-qZnLJvTrIFo-unsplash.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 100px 0;

  .servicios-content {
    text-align: center;

    h2 {
      font-size: 55px;
      line-height: 70px;
      color: $color-white;
      text-transform: uppercase;
      margin-bottom: 50px;
    }

    p {
      font-size: 16px;
      color: rgb(229, 220, 220);
      margin-bottom: 50px;
      padding: 0 100px;
    }

    .servicios-group {
      display: flex;
      justify-content: space-between;
      margin-bottom: 50px;

      .servicios-1 {
        padding: 0 80px;

        img {
          width: 100px;
          margin-bottom: 15px;
        }

        h3 {
          color: $color-white;
          font-size: 18px;
        }
      }
    }
  }
}

// General Section
.general {
  display: flex;
  flex-direction: column;
  justify-content: center;

  .general-1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    padding: 100px 250px 100px 100px;
    background-color: $color-white;
  }

  .general-2 {
    background-image: url(./img/katsiaryna-endruszkiewicz-BteCp6aq4GI-unsplash.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
  }
}

// Footer
.footer {
  padding: 40px 0;
  background-color: rgb(97, 93, 93);

  .social {
    text-align: center;
    padding-bottom: 25px;
    color: grey;

    a {
      font-size: 24px;
      color: grey;
      border: 1px solid rgb(244, 241, 241);
      width: 40px;
      height: 40px;
      line-height: 38px;
      display: inline-block;
      text-align: center;
      border-radius: 50%;
      margin: 0 8px;
      opacity: 0.75;

      &:hover {
        opacity: 0.9;
      }
    }
  }

  ul {
    margin-top: 0;
    padding: 0;
    list-style: none;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
    text-align: center;

    li {
      display: inline-block;
      padding: 0 15px;

      a {
        color: rgb(195, 188, 188);
        text-decoration: none;
        opacity: 0.8;

        &:hover {
          opacity: 1;
        }
      }
    }
  }

  .copyright {
    margin-top: 15px;
    text-align: center;
    font-size: 13px;
    color: rgb(255, 249, 249);
  }
}

// Form Section
form {
  justify-content: center;
  background: linear-gradient(90deg, rgba(98, 98, 103, 1) 0%, rgba(111, 111, 117, 0.3871428571)
)};


@import "./media/768";
@import "./media/420";